<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song Preferences</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="../static/images/logo.png" alt="PlayNext Logo">
            <span class="logo-text">PlayNext</span>
        </div>
        <div class="main-sections">
            <div class="welcome-section">
                <h1><div class="profile-pic">
                    <img src="{{ profile_pic }}" alt="Google profile pic">
                </div> Welcome, {{ name }}! </h1>
                <a class="button" href="/logout">Logout</a>
                <a class="button" href="/dashboard">Dashboard</a>
            </div>
            <div class="preferences-section">
                <h2>Select Your Preferences</h2>
                <form id="songForm" action="/submit" method="post" onsubmit="return validateForm()">
                    <!-- Mood and Genre Selection -->
                    <div style="display: flex; flex-direction: row;">
                        <div style="flex: 1;">
                            <h3>Mood:</h3>
                            <div>
                                <input type="radio" id="happy" name="mood" value="happy" required>
                                <label for="happy">Happy</label>
                            </div>
                            <div>
                                <input type="radio" id="sad" name="mood" value="sad">
                                <label for="sad">Sad</label>
                            </div>
                            <div>
                                <input type="radio" id="energetic" name="mood" value="energetic">
                                <label for="energetic">Energetic</label>
                            </div>
                            <div>
                                <input type="radio" id="tired" name="mood" value="tired">
                                <label for="tired">Tired</label>
                            </div>
                            <div>
                                <input type="radio" id="search" name="mood" value="search">
                                <label for="search">Search</label>
                            </div>
                        </div>
                        <div style="flex: 1;">
                            <h3>Genre:</h3>
                            <div>
                                <input type="radio" id="pop" name="genre" value="pop" required>
                                <label for="pop">Pop</label>
                            </div>
                            <div>
                                <input type="radio" id="rock" name="genre" value="rock">
                                <label for="rock">Rock</label>
                            </div>
                            <div>
                                <input type="radio" id="hip-hop" name="genre" value="hip-hop">
                                <label for="hip-hop">Hip Hop</label>
                            </div>
                            <div>
                                <input type="radio" id="electronic" name="genre" value="electronic">
                                <label for="electronic">Electronic</label>
                            </div>
                            <div>
                                <input type="radio" id="jazz" name="genre" value="jazz">
                                <label for="jazz">Jazz</label>
                            </div>
                            <div>
                                <input type="radio" id="clasical" name="genre" value="clasical">
                                <label for="clasical">Classical</label>
                            </div>
                            <div>
                                <input type="radio" id="search" name="genre" value="search">
                                <label for="search">Search</label>
                            </div>
                        </div>
                    </div>
                    <!-- Artist Name -->
                    <h3>Search:</h3>
                    <input type="text" id="artist_name" name="artist_name" placeholder="Type here">
                    <!-- Track Name -->
                    <!-- <h3>Track Name:</h3> -->
                    <!-- <input type="text" id="track_name" name="track_name" placeholder="Enter track name"> -->
                    <!-- Submit Button -->
                    <br><br>
                    <button type="submit" class="button">Submit</button>
                </form>
            </div>
        </div>
    </div>
        <div class="liked-songs">
            <h1>Liked songs</h1>
            <div class="song-container">
                <!-- Display each song -->
                {% for favorite in favorites_collection_data %}
                <div class="song">
                    <div class="song-info">
                        <h2>{{ favorite.track_name }}</h2>
                        <p class="artist">Artist: {{ favorite.artist_name }}</p>
                    </div>
                    <form class="favorite-form" method="post">
                        <input type="hidden" name="artistName" value="{{ favorite.artist_name }}">
                        <input type="hidden" name="trackName" value="{{ favorite.track_name }}">
                        <button type="submit">
                            <img src="../static/images/like.png" alt="Like">
                        </button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    

    <script>
        function validateForm() {
            var moodChecked = false;
            var genreChecked = false;

            // Check if any mood radio button is checked
            var moodRadios = document.getElementsByName('mood');
            for (var i = 0; i < moodRadios.length; i++) {
                if (moodRadios[i].checked) {
                    moodChecked = true;
                    break;
                }
            }

            // Check if any genre radio button is checked
            var genreRadios = document.getElementsByName('genre');
            for (var i = 0; i < genreRadios.length; i++) {
                if (genreRadios[i].checked) {
                    genreChecked = true;
                    break;
                }
            }

            // Display an alert if either mood or genre is not selected
            if (!moodChecked || !genreChecked) {
                alert("Please select one option from both Mood and Genre sections.");
                return false;
            }

            return true;
        }
    </script>
</body>
</html>
