<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Songs</title>
</head>
<body>
<div class="songs-container">
    <a class="button" href="/">Back</a>
    <h1>Songs</h1>
    <div class="song-container">
        <!-- Display each song -->
        {% for song in songs %}
        <div class="song">
            <div class="song-info">
                <h2>{{ song['track_name'] }}</h2>
                <p class="artist">Artist: {{ song['artist_name'] }}</p>
            </div>
            <form class="favorite-form" method="post">
                <input type="hidden" name="artistName" value="{{ song['artist_name'] }}">
                <input type="hidden" name="trackName" value="{{ song['track_name'] }}">
                <button type="submit">
                    <img src="../static/images/like.png" alt="Like">
                </button>
            </form>
        </div>
        {% endfor %}
    </div>
</div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.favorite-form').forEach(function(form) {
                form.addEventListener('submit', function(event) {
                    event.preventDefault();

                    const formData = new FormData(this);
                    const trackName = formData.get('trackName');
                    const artistName = formData.get('artistName');

                    fetch('/favorite', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: new URLSearchParams({
                            'trackName': trackName,
                            'artistName': artistName
                        })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            alert('Song liked successfully!');
                        } else {
                            alert('Error: ' + data.message);
                        }
                    })
                    .catch(error => {
                        alert('Error liking the song.');
                        console.error('Error:', error);
                    });
                });
            });
        });
    </script>
</body>
</html>
